<%= form_with url: users_path, method: :get, local: true do |f| %>
  <%= f.text_field :school %>
  <%= f.submit :search %>
<% end %>
<div class="row">
<table class="table">
<tbody>
<% @users.each do |user| %>
<tr>
	  <td>
	  <%= link_to user_path(user) do %>
	  	<%= attachment_image_tag user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
	  <% end %>
	  </td>
      <td><%= user.name %></td>
      <td><%= user.school %></td>
</tr>
<% end %>
</tbody>
</table>
</div>