<%= form_for(@book) do |f| %>
    <%= f.attachment_field :book_image,size: "190x150" %>
    <h4>参考書名</h4>
    <%= f.text_field :name %>
    <h4>説明</h4>
    <%= f.text_field :explanation %>
    <%= f.submit %>
<% end %>
<table class="table">
<tbody>
<tr>
      <td>
      <%= attachment_image_tag @user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
      </td>
      <td><%= @user.name %></td>
      <td><%= @user.school %></td>
</tr>
</tbody>
</table>
<div class="row">
<table class="table">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        参考書名
      </th>
      <th>
        説明
      </th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tr>
    <td><%= attachment_image_tag book, :book_image, size: '50x50', fallback: "no_image.jpg" %></td>
    <td><%= book.name %></td>
    <td><%= book.explanation %></td>
    <td><%= link_to "edit", edit_book_path(book) %></td>
    <td><%= link_to "Destroy", book_path(book), method: :delete, data: {confirm: "削除しますか？"} %></td>
  </tr>
<% end %>
</table>
</div>